// Write your styles here.
// SASS will be compiled to CSS. DONE
// Vendor prefixes will automatically be added. DONE
// CSS will be minified. DONE
// Multiple CSS files will be combined.

//
// COLORS
//

$gray: #aaa;
$blue: #7bbeca;
$green: #beca7b;
$red: #ca7bbe;
$yellow: #aaa;

$bootstrap-red: #d9534f;
$bootstrap-green: #5cb85c;
$bootstrap-yellow: #f0ad4e;

//
// SIZES
//

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

//
// MIXINS
//

@mixin colorize ($color: $gray) {
    color: darken($color, 15%);
    background: lighten($color, 30%);
    border-left: 4px solid lighten($color, 15%);
}

@mixin colorizeplus ($color: $gray) {
    color: darken($color, 15%);
    background: lighten($color, 30%);
}

@mixin columns ($total: 1) {
    flex-basis: (100% / $total);
    width: (100% / $total);
}

@mixin columnsplus ($total: 1) {
    flex-basis: (100% / $total) - 1%;
    width: (100% / $total) - 1%;
}

@mixin absolute ($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//
// BASE
//

@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
    font-size: 16px;
    background: darken($gray, 50%);
}

h1 {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 8rem;
    text-align: center;
}

h2 {
    color: $gray;
    font-size: 1.6rem;
    margin-top: 1rem;
}

h3 {
    color: darken($gray, 30%);
    font-size: 1.2rem;
    font-weight: bold;
}

//
// FLEX
//

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    @include columns();
}

//
// COLORS
//

.colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color {
    background: #aaa;
    width: 14rem;
    height: 14rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.color:nth-of-type(1) {
    background: $red;
}

.color:nth-of-type(2) {
    background: $yellow;
}

.color:nth-of-type(3) {
    background: $green;
}

.color:nth-of-type(4) {
    background: $blue;
}

.color:nth-of-type(5) {
    background: $gray;
}

.color:nth-of-type(6) {
    background: white;
}
